html,
body,
button,
label,
textarea {
     box-sizing: border-box;
     font-size: 16px;
     font-family: Avenir Next,Helvetica,Arial,Sans-Serif;
 }
 
.width-constraint {
    max-width: 80em;
    margin: 0 auto;
}
  

body > header {
     margin-bottom: 1em;
}
 

textarea {
    height: 110px !important;
    width: 100% !important;
    padding: 0.5em 1em;
    color:white;
    background-color: black;
    overflow:auto;
}
 
button {
     padding: 0.5em 1em;
     background-color:#6666FF;color:white;
     border: 1px solid #ccc;
     border-radius: 8px;
     
}
button:hover {
     background-color: #eee;
}
button:active {
     background-color: #ccc;
}
 
.form-group {
     margin-bottom: 1em;
}
 
 /**
  * basic layout
  */
 .row-container {
     display: flex;
 }
 .row-container {
     flex: 1;
 }  
.row-container_2{
    display: flex;
    justify-content: space-between
}
.rows{
    display: flex;
    justify-content: space-between
}
.card {
     max-width: 30em;
     background-color: #fff;
     padding: 1em;
     border-radius: 2px;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     margin: 0.2em;
 }
 .card .actions {
    display: flex;
    justify-content: flex-end;
}
 